.mce-content-body .mce-mergetag:hover {
  background-color: rgba(231, 0, 0, 1);
}

.mce-content-body .mce-mergetag-affix {
  background-color: rgba(251, 255, 0, 0.6);
  color: #08e700;
}

span {
  font-weight: 900;
  font-size: 100px;
  background-color: rgba(231, 0, 0, 1);
}

.sectionDiv {
  border-bottom: 1px solid grey;
}
